* {
    padding: 0;
    margin: 0;
}
.wrapper {
    background: url(body.mp4) no-repeat; 
    background-size: cover;
    height: 100vh;
}
.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.Logos {
    width: 140px;
    height: 60%;
    padding: 20px 100px;
}
.navbar ul {
    float: right;
    margin-right: 20px;
}
.navbar ul li {
    list-style: none;
    margin: 9px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4s ease-in;
}
.navbar ul li button {
    text-decoration: none;
    color: white;
    font-size: 120px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4s ease-in;
    background-color: red;
}
.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}
#bodybackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
.basta {
    font-size: 100px;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 400px;
    margin-left: 50px;
}
