*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(cars12.mp4) no-repeat; 
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.Logos{
    width: 140px;
    height: 60%;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 9px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4 ease-in;
}
.navbar ul li button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4 ease-in;
    background-color: red;
}
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
#bodybackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
.basta {
    font-size: 90px;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 80px; 
    left: 50px;   
}

.items{
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    background-color: grey;
}
.h4{
    text-align: left;
    font-size: 30px;
    margin: 15px;   
    color: red;
    margin-left: 200px;
    margin-top: 25px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;
    display: block;
    margin: auto;
    transition: 0,2s all;
}
.items button:hover{
    transform: scale(1.04);
}
footer {
    background-color: #f8f9f8;
    padding: 30px 0;
    background: rgba(0,0,0,0.8);
}
.footer-section p {
    margin: 0;
    font-size: 20px;
    margin-left: 100px;
    color: white;
    margin-top: 30px;
}
.logo a {
    color: white;
    font-size: 25px;
    margin-left: 1150px;    
    margin-bottom: 30px;
}
