*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(partsback.jpg) no-repeat; 
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.Logos{
    width: 140px;
    height: 60%;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 9px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4 ease-in;
}
.navbar ul li button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4 ease-in;
    background-color: red;
}
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
.h5{
    font-size: 30px;
    margin: 15px;   
}
.hr{
    background-color: solid black;
}
.parts{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.part img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.part img:hover{
    transform: scale(1.04);
}
.part h4{
    padding: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.part p{
    padding: 5px;
    text-align: center;
}
.part button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0,2s all;
}
.part button:hover{
    transform: scale(1.04);
}