*{
    padding: 0;
    margin: 0;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.Logos{
    width: 140px;
    height: 60%;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 9px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4 ease-in;
}
.navbar ul li button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    font-family: 'Roboto', sans-serif;
    transition: .4 ease-in;
    background-color: red;
}
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-color: #333;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease;
    position: relative;
}

img {
    margin-top: 75px;
    width: 100%;
    height: 700px;
    display: block;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}